{
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"printWidth": 100,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-astro"]
}
